body {
    padding: 0px;
    margin: 0px;
    font-family: Arial;
    overflow-x: hidden;
}


/*Header*/
header {
    width: 100vw;
    height: 100vh;
    background-image: url(milky-way-2695569-small.jpg);
    background-size: cover;
    margin: 0px;
}

#header-image {
    height: 60vh;
    position: absolute;
    top: 0;
    animation: header-image, fade-in;
    animation-duration: 5s, 3s;
    animation-timing-function: cubic-bezier(0.000, 1.000, 0.000, 1.000), ease-in-out;
    animation-delay: 0s;
    animation-fill-mode: both;
}

@keyframes header-image {
    from {
        left: -100vh;
    }

    to {
        left: 5vw;
    }
}

#header-text {
    color: white;
    mix-blend-mode: difference;
    position: absolute;
    top: 50vh;
    font-size: 5vw;
    max-width: 30vw;
    animation: header-text, fade-in;
    animation-duration: 5s, 3s;
    animation-timing-function: cubic-bezier(0.000, 1.000, 0.000, 1.000), ease-in-out;
    animation-delay: 0s;
    animation-fill-mode: both;
}

@keyframes header-text {
    from {
        right: -100vh;
    }

    to {
        right: 62vw;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-aspect-ratio: 1/1) {
    #header-image {
        height: 30vh;
    }

    @keyframes header-image {
        from {
            left: -100vh;
        }
    
        to {
            left: calc(50vw - 15vh);
        }
    }
    
    #header-text {
        top: 30vh;
        text-align: center;
        max-width: 70vw;
    }

    @keyframes header-text {
        from {
            right: -100vh;
        }
    
        to {
            right: 15vw;
        }
    }
}


/*Nav*/
nav {
    position: absolute;
    top: 0;
    left: 50vw;
    background: #00000088;
    width: 50vw;
    height: 100vh;
    border-left: 1px solid white;
    animation: fade-in;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}

#nav-header {
    text-align: center;
    color: white;
    font-size: 3em;
    margin-bottom: 15vh;
}

#nav-list {
    text-align: right;
}

#nav-list li a {
    border: 1px solid white;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 3vh;
    font-size: 3vw;
    transition: background-color 0.5s, color 0.5s, padding 0.5s;
}

#nav-list li a:hover {
    background-color: white;
    color: black;
    padding: 5vh;
}

#nav-list li {
    margin: 4vh;
    list-style: none;
}

@media (max-aspect-ratio: 1/1) {
    nav {
        top: 50vh;
        left: 0;
        width: 100vw;
        height: 50vh;
        border-top: 1px solid white;
        border-left: none;
    }

    #nav-header {
        margin-bottom: 0;
    }

    #nav-list {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 10vh;
    }

    #nav-list li a {
        padding: 2vh;
    }

    #nav-list li {
        margin: 3vh 0;
        flex-grow: 10;
    }

    #nav-list li a:hover {
        padding: 3vh;
    }
}



/*Main Section*/
#main-section {
    padding: 5% 35%;
    font-size: 2em;
    line-height: 1.5;
}



/*Section 2*/
#section-2 {
    padding: 5% 30%;
    font-size: 1.5em;
    line-height: 1.5;
    background-image: url(milky-way-2695569-small.jpg);
    background-size: cover;
    color: white;
}

@media (max-aspect-ratio: 1/1) { 
    #main-section {
        padding: 5% 20%;
    }

    #section-2 {
        padding: 5% 10%;
    }
}



/*footer*/
footer {
    padding: 2% 20%;
    background: black;
    color: white;
}

footer a {
    color: white;
}